body{
	text-align: center;
	font-family:"微软雅黑"
}
.water-running{
	width: 1200px;
	/*padding-left: 15px;
	padding-right: 15px;*/
	margin: auto;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}
.water-running .water-running-block{
	position: absolute;
 	width: 210px;
 	/*min-height: 300px;*/
 	border: 1px solid #DEDEDE;
 	float: left;
 	/*margin-right: 30px;*/
}
.water-running .water-running-block .image-block{
	width: 210px;
	height: 210px;
}
.water-running .water-running-block .message-content{
	padding-left: 10px;
	padding-right: 10px;
}
.water-running .water-running-block h4{
 	padding-top: 10px;
 	margin: 0px;
 	padding-bottom: 10px;
 	border-bottom: 1px solid #DEDEDE;
}
.water-running .water-running-block:hover{
 	box-shadow:2px 2px 5px #F0F0F0;
}
/*.water-running .water-running-block p{
 	border-bottom: 1px solid #DEDEDE;
 	padding-bottom: 10px;
}
.water-running .water-running-block p.without-border{
 	border-bottom: none;
}*/